{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    /*****************************************
     * Eslint Rules
     * DOC: https://eslint.org/docs/rules
     ****************************************/
    "no-console": "warn",
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",

    /***********************************
     * other plugins
     **********************************/
    "@typescript-eslint/no-explicit-any": "warn"
  }
}
